<mat-card>
<div>
  <div><h3>Basic coding problems</h3></div>
  <div>
    <p>1. Frequency counter for string</p>
    <input type="text" #stringVaule />
    <button (click)="frequencyCounter(stringVaule.value)">
      frequency Counter
    </button>
  </div>
  <br />
  <div>
    <p>2. Frequency counter for two arrays</p>
    <p>PS: Hardcode the array values in code</p>
    <button (click)="arraySquareCheck()">frequency Array</button>
  </div>
  <br />
  <div>
    <p>3. Valid Anagram or not</p>
    <p>PS: Hardcode the string values in code</p>
    <button (click)="anagramCheck()">Anagram check</button>
  </div>
  <br />
  <div>
    <p>4. Unique value count in array sorted array</p>
    <p>PS: Hardcode the array values in code</p>
    <button (click)="uniqueArrayValueCount()">Unique array Values</button>
  </div>
  <div>
    <p>5. Maximum Subarray sum of length num</p>
    <p>PS: Hardcode the array values in code</p>
    <button (click)="maxSumSubArray()">Unique array Values</button>
  </div>
  <div>
    <p>6. sort array of 0 1 2</p>
    <button (click)="sortZeroOneTwo()">Sort array of 0 1 2</button>
  </div>
  <div>
    <p>7. Equillibrium point in an array</p>
    <button (click)="equilibriumPoint()">Equillibrium in array</button>
  </div>
  <div>
    <p>8. Leader in an array</p>
    <button (click)="arrayLeader()">Leader array</button>
  </div>
  <div>
    <p>9. reverse of words in string</p>
    <button (click)="wordsReverse()">reverse string words</button>
  </div>
  <div>
    <p>10. remove Adjacent duplicates</p>
    <button (click)="removeAdjacentduplicates()">remove Adjacent duplicates</button>
  </div>
  <div>
    <p>11. check if string is rotated</p>
    <button (click)="rotationString()">string rotation</button>
  </div>
  <div>
    <p>12. remove duplicates in string</p>
    <button (click)="removeduplicates()">remove duplicates</button>
  </div>
  <div>
    <p>13. Find repeating and missing in array</p>
    <button (click)="findRepeatingAndMissing()">repeating and missing</button>
  </div>
  <div>
    <p>14. Find repeating and missing in array</p>
    <button (click)="findRepeatingAndMissing()">repeating and missing</button>
  </div>
</div>
</mat-card>
